$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;


$percentages: (
  100: 100%,
  75: 75%,
  66: 66.66%, 
  50: 50%,
  33: 33.33%,
  25: 25%
) !default;

$flex-grow-factors: 1, 2, 3 !default;

// enable flex grow by default
$enable-flex-grow: true !default;

$enable-flex-wrap: false !default;
$enable-flex-between: false !default;
$enable-flex-around: false !default;
