// standard grid breakpoints are taken from bootstrap
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

// width and height percentages to be made available across all screen sizes
$flex-basis-percentages: (
  100: 100%,
  75: 75%,
  66: 66.66%, 
  50: 50%,
  33: 33.33%,
  25: 25%
) !default;

// child elements will be n times bigger than their sibling elements
$flex-grow-factors: 1, 2, 3, 4, 5 !default;

// trim the size of the build by removing responsive versions of some classes
$enable-flex-grow-responsive:        true !default;
$enable-flex-wrap-responsive:        true !default;
$enable-flex-basis-responsive:       false !default; // false by default
$enable-justify-between-responsive:  true !default;
$enable-justify-around-responsive:   true !default;
$enable-align-baseline-responsive:   true !default;
$enable-align-self-responsive:       true !default;
